# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
    
    1. Pandas
    2. Matplotlib 
    3. Seaborn
    4. Numpy

| Data Science Tools |
| --- |
| Jupyter Notebook |
| R studio |
| Github |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(f"{round(hours)} hours")

3 hours

**Objectives:**
- Python
- R
- SQL
- Java

## Author
Lekx